<div>
  <ol class="breadcrumb">
    <li><%= link_to @component.system.model.model, models_path %></li>
    <li><%= link_to @component.system.name, model_systems_path(@component.system.model) %></li>
    <li class="active">Componentes</li>
  </ol>
  <%= @component.name %> <br>
  <%= @component.description %> <br>
  <%= link_to 'Lista de componentes', system_components_path(@component.system) %> |
  <%= link_to 'Editar', edit_component_path(@component) %>

</div>