<div class="side_navbar navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li class="<%= 'active' if controller_name == 'models' %>">
      <%= link_to models_path do %>
        <%= icon('book', 'Catalogo de aeronaves') %>
      <% end %>
    </li>
    <li>
      <%= link_to '' do %>
          <%= icon('plane', 'Flota de aeronaves') %>
      <% end %>
    </li>
  </ul>
</div>


